.btn-warning {
	background: #686868 !important;
	border-color: #686868 !important;
}

.btn-danger {
	background: #686868 !important;
	border-color: hsl(0, 0%, 41%) !important;
}

.text-muted{
	    line-height: 4.3rem;
}
.toggle-password {
	position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 5;
}
.form-group.position-relative input {
  padding-right: 40px;
}
select.form-control,
.form-control {
	border: 1px solid #686868 !important;
	    padding: 15px;
    width: 485px;
	color: black;
	appearance: auto; 
	-webkit-appearance: auto; /* Safari/Chrome */
	-moz-appearance: auto; /* Firefox */
	background-image: none; /* Reset any custom background */

}
.nav-link.active {
  background-color: #f0f0f080;
  color: #000;
  font-weight: bold;
}
 

.modal {
	margin: 50px !important;
	margin-bottom: 50px !important;
}

.edit-btn {
	background: #686868 !important;
}

.form-check-input {
	width: 16px;
	height: 16px;
	border: 2px solid black;
	background-color: white;
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	outline: none;
	cursor: pointer;
	position: relative;
	border-radius: 3px;
}

.btn-primary-edit {
	background: #686868 !important;
	color: white !important;
}

.table.totals td {
	padding: 4px 8px;
	vertical-align: middle;
}

.table.totals td:first-child {
	white-space: nowrap;
	width: 78%;
}

.table.totals td:last-child {
	width: auto;
}

.sidebar {
	position: fixed;
	top: 62px;
	left: 0;
	height: calc(100vh - 56px);
	width: 257px;
	overflow-y: auto;
	background-color: #fff;
	z-index: 1;
	box-shadow: -4px 2px 5px rgba(0, 0, 0, 0.1);
}

.table {
	table-layout: auto !important;
	width: 100%;
}

.table td,
.table th {
	white-space: normal !important;
	word-wrap: break-word;
	overflow-wrap: break-word;
	vertical-align: middle;
}

.wrap-text {
	white-space: normal;
	word-break: break-word;
	overflow-wrap: anywhere;
}


.alert {
	white-space: normal !important;
	word-wrap: break-word;
	word-break: break-word;
	padding: 10px 15px;
	top: 10px;
	right: 10px;
	z-index: 9999;
}

.alert-fixed {
	position: fixed;
	top: 80px;
	left: 50%;
	transform: translateX(-50%);
	z-index: 1050;
	width: 40%;
	/* Adjust as needed */
	/*display: none;*/
}


.btn-primary:not(.btn-light) {
	background: #686868 !important;
	color: white;
	border: none;
}

.dataTables_length label {
	font-weight: normal;
	text-align: left;
	white-space: nowrap;
	margin-left: 0;
}

.dataTables_wrapper .dataTable tbody tr td {
	border: 1px solid rgba(151, 151, 151, 0.18);
	color: #08113b;
	white-space: nowrap;
	font-weight: 300;
	padding: 0.5rem 0.25rem;
}

.dataTables_wrapper .dataTable thead th {
	padding: 10px 10px !important;
}

.table td:last-child,
.table th:last-child {
	width: 100px;
	white-space: nowrap;
	text-align: center;
}

.table .btn {
	display: inline-block;
	width: 48%;
	margin: 0px;
	font-size: 12px;
	padding: 2px 4px;
}

.dataTables_wrapper .dataTable .btn {
	padding: 2px 6px;
	font-size: 12px;
	line-height: 1.2;
	margin: 0px;
	display: inline-block;
}

table.dataTable td:first-child,
table.dataTable th:first-child {
	width: 44.4px !important;
	text-align: center;
}

.content-wrapper {
	background: #ffffff;
	padding: 0.1rem 0.04rem;
	width: 100%;
	-webkit-flex-grow: 1;
	flex-grow: 1;
}

.bg-light {
	--bs-bg-opacity: 1;
	background-color: #ffffff !important;
}

.rol-mb3 {
	margin-top: 1.1rem !important;
}

.role-con h3 {
	margin: 4px;
	text-align: left;
	vertical-align: top;
}

.footer {
	margin-left: 257px;
}


.right_container {
	width: calc(100vw - 272px);
	margin-left: auto;
	padding: 25px;
}


#estimateTable td {
	word-wrap: break-word;
	word-break: break-word;
	white-space: normal !important;
	vertical-align: middle;
}

#estimateTable th {
	white-space: nowrap;
	/* prevent header text wrap */
	text-align: center;
}

.save-comp {
	margin-right: 120px !important;
}

table {
	max-width: 100% !important;
}

table.dataTable th,
table.dataTable td {
	white-space: nowrap;
	/* Prevent wrapping */
	vertical-align: middle;
	/* Align content vertically */
}

table.dataTable th {
	min-width: 100px;
	/* Minimum width for header cells */
}

table.dataTable td {
	word-break: break-word;
	/* Allow breaking of long words in cell body */
}

th.no-sort::after {
	display: none !important;
}

.dataTables_wrapper .dataTables_length select {
	width: 50px !important;
}

.navbar .navbar-brand-wrapper .navbar-brand-inner-wrapper .navbar-brand img {
	width: calc(257px - 185px);
}
.dt-search,.dt-paging {
	text-align:right !important;
}
.dt-column-title,.dt-type-numeric{
	text-align: center;
}
.dt-type-date{
	text-align:left !important;
}

 .background-box {	
	position:relative;
	display:flex;
	flex-direction:column;
	overflow:hidden;
    width: 595px;
	height:842px;
    background-image: url("../images/invoice-bg.jpg");
	background-size: 100%;     
	background-position: center;
	background-repeat: no-repeat; 
	padding: 157px 22px 23px 89px;
}
.print_wrpr{
	width:100%;
	height:100%;
	position:relative;
	display:flex;
	flex-direction:column;
	overflow:hidden;
	background-color: #ff66662c;
}
.from-date{
    background-color: white !important;
    border: none !important;
    height: 10px;
}